<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test thread-count="5" name="MyTest">
    <classes>
      <class name="com.BHL.TC001_LoginPageTest"/>
      <class name="com.BHL.TC002_DashboardPageTest"/>
    </classes>
  </test> <!-- MyTest -->
</suite> <!-- Suite -->